.text-table {
  display: block;
  overflow: auto;
  height: 290px;
  width: 60%;
  border-radius: 10px;
  float: left;
  margin-top: -290px;
  margin-left: 30px;
  margin-bottom: 30px;
  border: 10px solid rgba(93, 127, 174, .5);
  border-radius: 10px;
}

.text-table thead {
  background-color: #11168A;
  color: white;
  position: sticky;
  top: 0;
}

.text-table tbody {
  background-color: aliceblue;
}
