.customer-table {
  overflow: auto;
  height: 480px;
  width: 60%;
  border: 10px solid rgba(93, 127, 174, .5);
  border-radius: 10px;
  margin: 30px;
  margin-right: 50px;
}

.customer-table thead {
  background-color: #11168A;
  color: white;
  position: sticky;
  top: 0;
}

.customer-table tbody {
  background-color: aliceblue;
}

